<html ng-app="MyApp">

<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-confirm.js"></script>
    <script type="text/javascript" src="js/messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/straatController.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/angular-confirm.css">
    <link rel="stylesheet" href="css/table-triangle.css">
    <link rel="stylesheet" href="css/site.css">
</head>

<body ng-controller="straatCtrl">
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
                <a class="navbar-brand" href="index.html">Admin - Intranet</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li><a href="wijk.html">Wijkagenten<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li class="active"><a href="straat.html">Straten<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list-alt"></span></a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="main">

        <div class="form-inline">

            <button ng-repeat="gemeente in gemeentes" ng-click="getStraten(gemeente)" class="btn btn-primary btn-lg">{{gemeente.naam}}</button>

            <input class="form-control input-lg" ng-model="searchText" placeholder="Doorzoek gegevens" ng-disabled="active!=null">

            <button class="btn btn-warning btn-lg" ng-click="resetStraten()">Reset</button>
            <button class="btn btn-info btn-lg" ng-click="addRow(Gemeente_id)">Nieuwe Straat</button>
        </div>

        <div ng-hide="Gemeente_id === 0">
            <h1>{{gemeenteNaam}}</h1>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <button ng-click="sortBy('Straat_naam')">Straatnaam</button>
                        <span class="sortorder" ng-show="propertyName === 'Straat_naam'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('Huisnr_van')">Van</button>
                        <span class="sortorder" ng-show="propertyName === 'Huisnr_van'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('Huisnr_tot')">Tot</button>
                        <span class="sortorder" ng-show="propertyName === 'Huisnr_tot'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('Even_oneven')">Even/Oneven</button>
                        <span class="sortorder" ng-show="propertyName === 'Even_oneven'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('Agent')">Wijkagent</button>
                        <span class="sortorder" ng-show="propertyName === 'Agent'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>Wijzigen</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="straat in data | filter:searchText | orderBy:propertyName:reverse" ng-class="{warning: active==straat}" ng-form="straatForm">

                    <td>
                        <div ng-if="active!=straat">{{straat.Straat_naam}}</div>
                        <div ng-if="active==straat">

                            <input type="text" class="form-control input-sm" data-ng-model="straat.Straat_naam" name="Straat_naam" required ng-minlength="3" ng-maxlength="50">
                            <div ng-messages="straatForm.Straat_naam.$error" class="ng-error">
                                <div ng-message="required">Verplicht in te vullen!</div>
                                <div ng-message="minlength">Minimaal 3 karakters!</div>
                                <div ng-message="maxlength">Maximaal 50 karakters!</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="active!=straat">{{straat.Huisnr_van}}</div>
                        <div ng-if="active==straat">
                            <input type="number" class="form-control input-sm" string-to-number data-ng-model="straat.Huisnr_van" name="Huisnr_van" required ng-min="1" ng-max="straat.Huisnr_tot">
                            <div ng-messages="straatForm.Huisnr_van.$error" class="ng-error">
                                <div ng-message="required">Verplicht in te vullen!</div>
                                <div ng-message="min">Minimum waarde van 1!</div>
                                <div ng-message="max">Waarde moet kleiner zijn dan (Huisnr) TOT!</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="active!=straat">{{straat.Huisnr_tot}}</div>
                        <div ng-if="active==straat">
                            <input type="number" class="form-control input-sm" string-to-number data-ng-model="straat.Huisnr_tot" name="Huisnr_tot" required ng-min="straat.Huisnr_van" ng-max="9999">
                            <div ng-messages="straatForm.Huisnr_tot.$error" class="ng-error">
                                <div ng-message="required">Verplicht in te vullen!</div>
                                <div ng-message="min">Waarde moet groter zijn dan (Huisnr.) VAN!</div>
                                <div ng-message="max">Maximum waarde van 9999!</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="active!=straat">{{straat.Even_oneven}}</div>
                        <div ng-if="active==straat">
                            <select ng-change="updateWaarde(selectedWaarde)" name="Even_Oneven" ng-model="selectedWaarde" class="form-control input-sm" required>
                              <option ng-selected="true" value="">Maak uw keuze</option>
                              <option ng-repeat="x in waardes" value="{{x}}">{{x}}</option>
                        </select>
                            <div ng-messages="straatForm.Even_Oneven.$error" class="ng-error">
                                <div ng-message="required">Kies een waarde uit de lijst!</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="active!=straat">{{straat.Agent}}</div>
                        <div ng-if="active==straat">
                            <select ng-change="updateWijk(selected.Wijk)" ng-options="item as item.Agent for item in agenten track by item.Wijk" class="form-control input-sm" name="Agent" ng-model="selected" required>
                            <option ng-selected="true" value="">Maak uw keuze</option>
                        </select>
                            <div ng-messages="straatForm.Agent.$error" class="ng-error">
                                <div ng-message="required">Kies een wijkagent uit de lijst!</div>
                            </div>
                            <!--<select ng-change="updateWijk(selected.Wijk)" name="Agent" ng-model="selected" class="form-control input-sm" required>
                            <option value="">Maak uw keuze</option>
                            <option ng-repeat="item in agenten" value="{{item.Wijk}}">{{item.Agent}}</option>
                        </select>-->
                        </div>
                    </td>
                    <td>
                        <div ng-if="active!=straat">
                            <button ng-click="editRow(straat)" class="btn btn-warning">Wijzigen</button>
                            <button ng-click="deleteRow(straat)" class="btn btn-danger">Verwijderen</button>
                        </div>
                        <div ng-if="active==straat">
                            <button type="submit" ng-click="straatForm.$valid && saveRow(straat)" class="btn btn-primary">Opslaan</button>
                            <button ng-click="cancelRow(straat)" class="btn btn-warning">Annuleren</button>

                        </div>
                    </td>
                    </ng-form>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>
