<html ng-app="MyApp">

<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-confirm.js"></script>
    <script type="text/javascript" src="js/messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/wijkController.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/angular-confirm.css">
    <link rel="stylesheet" href="css/table-triangle.css">
    <link rel="stylesheet" href="css/site.css">
</head>

<body ng-controller="wijkCtrl">
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
                <a class="navbar-brand" href="index.html">Admin - Intranet</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li class="active"><a href="wijk.html">Wijkagenten<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li><a href="straat.html">Straten<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list-alt"></span></a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="main">

        <div class="form-inline">

            <button ng-repeat="gemeente in gemeentes" ng-click="getWijkagenten(gemeente)" class="btn btn-primary btn-lg">{{gemeente.naam}}</button>

            <input class="form-control input-lg" ng-model="searchText" placeholder="Doorzoek gegevens" ng-disabled="active!=null">

            <button class="btn btn-warning btn-lg" ng-click="resetStraten()">Reset</button>
            <button class="btn btn-info btn-lg" ng-click="addRow(Gemeente_id)">Nieuwe Wijkagent</button>
        </div>

        <div ng-hide="Gemeente_id === 0">
            <h1>{{gemeenteNaam}}</h1>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <button ng-click="sortBy('Wijk')">Wijk</button>
                        <span class="sortorder" ng-show="propertyName === 'Wijk'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('Agent')">Wijkagent</button>
                        <span class="sortorder" ng-show="propertyName === 'Agent'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('Foto')">Bestand</button>
                        <span class="sortorder" ng-show="propertyName === 'Foto'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('tel_nr')">Telefoon</button>
                        <span class="sortorder" ng-show="propertyName === 'tel_nr'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('email')">E-mail</button>
                        <span class="sortorder" ng-show="propertyName === 'email'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>Wijzigen</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="agent in data | filter:searchText | orderBy:propertyName:reverse" ng-class="{warning: active==agent}" ng-form="agentForm">
                    <td>
                        <div ng-if="active!=agent">{{agent.Wijk}}</div>
                        <div ng-if="active==agent">
                            <input type="number" class="form-control input-sm" string-to-number data-ng-model="agent.Wijk" name="Wijk" required ng-min="max" ng-max="200">
                            <div ng-messages="agentForm.Wijk.$error" class="ng-error">
                                <div ng-message="required">Verplicht in te vullen!</div>
                                <div ng-message="min">Minimum waarde van {{max}}!</div>
                                <div ng-message="max">Waarde moet kleiner zijn dan 200!</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="active!=agent">{{agent.Agent}}</div>
                        <div ng-if="active==agent">

                            <input type="text" class="form-control input-sm" data-ng-model="agent.Agent" name="Agent" required ng-minlength="5" ng-maxlength="50">
                            <div ng-messages="agentForm.Agent.$error" class="ng-error">
                                <div ng-message="required">Verplicht in te vullen!</div>
                                <div ng-message="minlength">Minimaal 5 karakters!</div>
                                <div ng-message="maxlength">Maximaal 50 karakters!</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="active!=agent">{{agent.Foto}}</div>
                        <div ng-if="active==agent">

                            <input type="text" class="form-control input-sm" data-ng-model="agent.Foto" name="Foto" required ng-minlength="7" ng-maxlength="7">
                            <div ng-messages="agentForm.Agent.$error" class="ng-error">
                                <div ng-message="required">Verplicht in te vullen!</div>
                                <div ng-message="minlength">7 karakters => afkorting + extensie</div>
                                <div ng-message="maxlength">7 karakters => afkorting + extensie</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="active!=agent">{{agent.tel_nr}}</div>
                        <div ng-if="active==agent">

                            <input type="text" class="form-control input-sm" data-ng-model="agent.tel_nr" name="Tel_nr" required ng-minlength="8" ng-maxlength="12">
                            <div ng-messages="agentForm.Tel_nr.$error" class="ng-error">
                                <div ng-message="required">Verplicht in te vullen!</div>
                                <div ng-message="minlength">Minimaal 8 karakters</div>
                                <div ng-message="maxlength">Maximaal 12 karakters</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="active!=agent">{{agent.email}}</div>
                        <div ng-if="active==agent">

                            <input type="email" class="form-control input-sm" data-ng-model="agent.email" name="Email" required>
                            <div ng-messages="agentForm.Email.$error" class="ng-error">
                                <div ng-message="required">Verplicht in te vullen!</div>
                                <div ng-message="email">Geef een geldig email-adres op!</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="active!=agent">
                            <button ng-click="editRow(agent)" class="btn btn-warning">Wijzigen</button>
                            <button ng-click="deleteRow(agent)" class="btn btn-danger">Verwijderen</button>
                        </div>
                        <div ng-if="active==agent">
                            <button type="submit" ng-click="agentForm.$valid && saveRow(agent)" class="btn btn-primary">Opslaan</button>
                            <button ng-click="cancelRow(agent)" class="btn btn-warning">Annuleren</button>

                        </div>
                    </td>
                    </ng-form>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>
